Repository OpenVisualCloud/SVT-VP9, pull requests merged in 2020-06, with the labels that each got.

#111 ffmpeg: bug fix in eb_receive_packet
  ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
  ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
  ffmpeg_plugin/n4.2.3-0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
  ffmpeg_plugin/n4.2.3-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
Labels: Clean up, ffmpeg

#114 Fix crash with -intra-period 255
  Source/Lib/Codec/EbInitialRateControlProcess.c
Labels: bug

#117 FFmpeg: Remove -intra_refresh_type from master patches
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
Labels: build, ffmpeg

#119 ffmpeg: Adapt with new libavcodec internal encode api changes
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
Labels: ffmpeg
