Repository OpenVisualCloud/SVT-VP9, pull requests merged in 2021-03, with the labels that each got.

#138 ffmpeg_plugin: Rebase master patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
Labels: build, ffmpeg

#141 Add missing default interface values
  Source/Lib/Codec/EbEncHandle.c
Labels: Clean up

#140 ffmpeg patches: target socket selection option added
  ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
  ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
  ffmpeg_plugin/n4.2.3-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
  ffmpeg_plugin/n4.3.1-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
Labels: ffmpeg
